<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="2.2.1" manuallyInstalled="true" />
  <package id="NAudio.Core" version="2.2.1" manuallyInstalled="true" />
  <package id="NLayer" version="1.15.0" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
</packages>